*.swp
target/
.cache
.classpath
.settings
.project
.idea
/bin/

movements/.idea
frontend/.idea
documentation/.idea
backend/.idea

frontend/velocity.log

backend/*.imp
movements/*.imp
frontend/*.imp

*.imp
