*.swp
target/
.cache
.classpath
.settings
.project
.idea
/bin/

jobs/.idea
server/.idea
documentation/.idea
prototypes/.idea

frontend/velocity.log

jobs/*.imp
server/*.imp
documentation/*.imp
prototypes/*.imp

*.imp
