*.swp
target/
.cache
.classpath
.settings
.project
.idea
/bin/

jobs/.idea
server/.idea
documentation/.idea
prototypes/.idea

server/velocity.log*

jobs/*.iml
jobs/*.imp
server/*.imp
server/*.iml
*.iml
*.imp
